html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Nova Flat', cursive;
  color: #186684;
  /* line-height: 2.9rem; */
}
p {
  font-family: 'Catamaran', sans-serif; /* might have to add colour */
  font-size: 2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h2 {
  font-size: 4.2rem;
}
.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/* HEADER styles */
header {
  background-image: url(./assets/image-1@2x.png);
	min-height: 90vh;
	background-size: cover;
	background-position: center;
	padding: 25px 0;
}
nav {
  width: 35%;
  margin: 0 auto;
}
nav li {
  float: left;
  width: 25%;
  text-align: center;
}
nav a:hover,
nav a:focus {
  color: #E85B26;
}
nav a {
  padding: 10px;
}
h1 {
  font-size: 11rem;
  width: 450px;
  margin: 25% auto 0 40%;
  padding: 10px;
  background-color: rgba(227, 228, 234, 0.9);
}

/* MAIN styles */
/* MAIN global */
main h2 {
  padding-bottom: 10px;
}
main p {
  line-height: 2.9rem;
}
main a {
  text-transform: uppercase;
  font-size: 1.8rem;
  border: 2px solid #E85B26;
  padding: 10px;
}

/* MAIN introduction section */
.introduction p {
  padding-bottom: 25px;
}
.introduction .textContainer,
.introduction .imgContainer {
  width: 50%;
  float: left;
}
.introHalf .textContainer {
  margin: 10% 8% 0 5%;
  width: 37%;
}
.introHalf:nth-child(1) .textContainer {
  margin: 10% 5% 0 8%;
  float: left;
}
.introHalf:nth-child(1) .imgContainer {
  float: right;
}

/* MAIN community section */
.givingBackContainer {
  background-color: #F4F4F4;
  padding: 80px 0;
}
.givingBackContainer .wrapper {
  position: relative; /* used this to stick READ MORE a tags to bottom */
}
.givingBackContainer a {
  position: absolute;
  bottom: 0;
}
.givingBackContainer .imgContainer {
  width: 30%;
  float: left;
}
.givingBack { /* this is text section, next to the image */
  width: 67%;
  margin-left: 3%;
  float: left;
}
.communityDisplay {
  background-image: url(./assets/image-5@2x.png);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.displayContainer {
  position: absolute;
  background-color: #F4F4F4;
  width: 50%;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  /* the above is a pretty fun way to center */
}
.display {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  margin-top: 100px;
}
.display i {
  font-size: 5rem;
  color: #E85B26;
  margin-bottom: 20px;
}
.display h3 {
  font-size: 3rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

/* MAIN the gram section */
.theGram {
  margin: 70px 0;
}
.theGram h2 {
  text-align: center;
  margin-bottom: 50px;
}
.gramGallery .galleryImage {
  float: left;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
}
.gramGallery .galleryImage:nth-child(3) {
  margin-right: 0;
}

/* FOOTER styles */
footer {
  padding-top: 70px;
  background-color: #F4F4F4;
}
.footerLinks {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 40px;
  color: black;
}
.footerLinks li {
  float: left;
  width: 25%;
  text-align: center;
}
.footerLinks a:hover,
.footerLinks a:focus {
  color: #E85B26;
}
.footerLinks a {
  padding: 10px;
}

/* contact and newsletter styles */
.footerContent {
  margin-bottom: 80px;
  color: #1F2022;
}
footer h3 {
  font-size: 4.2rem;
  padding-bottom: 20px;
  color: #E85B26;
}
footer p {
  padding-bottom: 5px;
}
.contact {
  float: left;
}
.newsletter {
  float: right;
}
.newsletter input,
.newsletter button {
  margin-top: 5px;
  padding: 12px 250px 12px 16px;
  border: none;
  font-size: 2rem;
}
.newsletter button {
  padding: 12px;
  background-color: #186684;
  color: white;
  font-size: 1.8rem;
}

/* copyright */
.copyright {
  background-color: #1F2022;
  color: #e3e4ea;
  text-align: center;
}

@media(max-width: 1280px){
  .introduction .introHalf .textContainer { 
    margin: 3% 4% 0 4%;
    width: 42%;
  }
  .givingBackContainer a {
    position: static;
  }
  .givingBackContainer p {
    padding-bottom: 20px;
  }
  .displayContainer {
    width: 70%;
  }
  .newsletter input {
    padding-right: 175px;
  }
}
@media(max-width: 940px) {
  /* GLOBAL styles */
  h2 {
    font-size: 3.2rem;
  }
  p, a {
    font-size: 1.7rem;
  }

  /* HEADER styles */
  nav {
    width: 50%;
  }
  h1 {
    font-size: 8rem;
    width: 330px;
    margin: 35% auto 0 40%;
  }

  /* MAIN styles */
  main a {
    font-size: 1.7rem;
  }
  .introduction h2 {
    padding-bottom: 5px;
  }
  .introduction p {
    padding-bottom: 20px;
  }
  .introduction .introHalf .textContainer {
    margin: 1.5% 2% 0 2%;
    width: 46%;
  }
  .communityDisplay h3 {
    font-size: 2.2rem;
  }
  .display {
    margin-top: 80px;
  }
  .displayContainer {
    height: 50%;
  }
  .display i {
    font-size: 4rem;
  }
  .theGram {
    margin-top: 50px;
  }
  .theGram h2 {
    margin-bottom: 30px;
  } 

  /* FOOTER styles */
  footer {
    padding-top: 50px;
  }
  .footerLinks {
    width: 50%;
  }
  .footerContent {
    margin-bottom: 50px;
  }
  footer h3 {
    font-size: 3.2rem;
  }
  .newsletter input {
    padding-right: 50px;
  } 
  .newsletter input,
  .newsletter button {
    font-size: 1.6rem;
  }
}
@media(max-width: 768px) {
  /* GLOBAL styles */
  .introduction,
  h2,
  footer {
    text-align: center;
  } 
  .wrapper {
    width: 95%;
  }
  /* MAIN styles */
  .introduction .introHalf .textContainer,
  .introduction .introHalf .imgContainer {
    width: 100%;
  }
  .introduction .imgContainer {
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  .introduction img {
    margin: auto;
    position: absolute;
    bottom: -40px;
  }
  .introduction .introHalf .textContainer {
    margin: 30px 2.5% 40px 2.5%;
    width: 95%;
  }



  /* .introduction p {
  padding-bottom: 25px;
}
.introduction .textContainer,
.introduction .imgContainer {
  width: 50%;
  float: left;
}
.introHalf .textContainer {
  margin: 10% 5% 0 8%;
  width: 37%;
}
.introHalf:nth-child(2) .textContainer {
  margin: 10% 8% 0 5%;
  float: right;
} */
}
@media(max-width: 480px) {

}